@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,700;1,900&display=swap');

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
    color: rgb(228, 163, 0);
}